-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: school_research_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `biz_book`
--

DROP TABLE IF EXISTS `biz_book`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `biz_book` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `name` varchar(200) NOT NULL COMMENT '书名',
  `publisher` varchar(100) DEFAULT NULL COMMENT '出版社',
  `isbn` varchar(50) DEFAULT NULL COMMENT 'ISBN号',
  `publish_date` date DEFAULT NULL,
  `status` int DEFAULT '0' COMMENT '审核状态',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  `authors` varchar(500) DEFAULT NULL COMMENT '作者',
  `editor` varchar(100) DEFAULT NULL COMMENT '主编/副主编',
  `book_type` varchar(50) DEFAULT NULL COMMENT '专著类型：教材/学术专著等',
  `level` varchar(50) DEFAULT NULL COMMENT '出版级别',
  `proof_file` varchar(255) DEFAULT NULL COMMENT '证明文件',
  `remark` text COMMENT '备注',
  `classification` varchar(50) NOT NULL COMMENT '教研类型：RESEARCH/TEACHING',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='著作表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biz_book`
--

LOCK TABLES `biz_book` WRITE;
/*!40000 ALTER TABLE `biz_book` DISABLE KEYS */;
/*!40000 ALTER TABLE `biz_book` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `biz_competition`
--

DROP TABLE IF EXISTS `biz_competition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `biz_competition` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `name` varchar(200) NOT NULL COMMENT '竞赛名称',
  `award_level` varchar(50) DEFAULT NULL COMMENT '获奖等级: 国家级/省级/校级',
  `award_grade` varchar(50) DEFAULT NULL COMMENT '奖项: 一等奖/二等奖',
  `award_date` date DEFAULT NULL,
  `cert_file_url` varchar(255) DEFAULT NULL COMMENT '证书附件',
  `status` int DEFAULT '0' COMMENT '审核状态',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='教学竞赛表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biz_competition`
--

LOCK TABLES `biz_competition` WRITE;
/*!40000 ALTER TABLE `biz_competition` DISABLE KEYS */;
/*!40000 ALTER TABLE `biz_competition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `biz_paper`
--

DROP TABLE IF EXISTS `biz_paper`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `biz_paper` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `title` varchar(255) NOT NULL COMMENT '论文标题',
  `journal_name` varchar(100) DEFAULT NULL COMMENT '期刊/会议名称',
  `publish_date` date DEFAULT NULL COMMENT '发表日期',
  `is_sci` tinyint(1) DEFAULT '0' COMMENT '是否SCI/EI收录',
  `file_url` varchar(255) DEFAULT NULL COMMENT '论文原件PDF',
  `ocr_content` longtext COMMENT 'OCR识别出的文本内容(用于自动调整/检索)',
  `status` int DEFAULT '0' COMMENT '审核状态: 同项目表',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  `sci_partition` varchar(20) DEFAULT NULL COMMENT 'SCI分区: Q1, Q2, Q3, Q4',
  `impact_factor` decimal(5,3) DEFAULT NULL COMMENT '影响因子',
  `page_range` varchar(50) DEFAULT NULL COMMENT '页码范围: ex. 102-108',
  `author_role` varchar(20) DEFAULT NULL COMMENT '作者角色: FIRST(一作), CORRESPONDING(通讯), BOTH(一作且通讯), OTHER(参与)',
  `issn` varchar(50) DEFAULT NULL COMMENT 'ISSN',
  `pages` varchar(50) DEFAULT NULL COMMENT '页码范围',
  `partition_info` varchar(50) DEFAULT NULL COMMENT '分区',
  `authors` varchar(500) DEFAULT NULL COMMENT '作者列表',
  `corresponding_author` varchar(100) DEFAULT NULL COMMENT '通讯作者',
  `discipline` varchar(100) DEFAULT NULL COMMENT '学科分类',
  `proof_file` varchar(255) DEFAULT NULL COMMENT '证明文件',
  `remark` text COMMENT '备注',
  `classification` varchar(50) NOT NULL COMMENT '教研类型：RESEARCH/TEACHING',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='论文成果表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biz_paper`
--

LOCK TABLES `biz_paper` WRITE;
/*!40000 ALTER TABLE `biz_paper` DISABLE KEYS */;
/*!40000 ALTER TABLE `biz_paper` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `biz_patent`
--

DROP TABLE IF EXISTS `biz_patent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `biz_patent` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `name` varchar(200) NOT NULL COMMENT '专利名称',
  `patent_no` varchar(100) DEFAULT NULL COMMENT '专利号',
  `patent_type` varchar(50) DEFAULT NULL COMMENT '发明类型：发明专利/实用新型等',
  `auth_date` date DEFAULT NULL COMMENT '授权日期',
  `file_url` varchar(255) DEFAULT NULL,
  `status` int DEFAULT '0' COMMENT '审核状态',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  `apply_date` date DEFAULT NULL COMMENT '申请日期',
  `grant_date` date DEFAULT NULL COMMENT '授权日期(对应前端字段)',
  `owner` varchar(255) DEFAULT NULL COMMENT '专利权人',
  `inventors` varchar(500) DEFAULT NULL COMMENT '发明人',
  `proof_file` varchar(255) DEFAULT NULL COMMENT '证明文件',
  `remark` text COMMENT '备注',
  `classification` varchar(50) NOT NULL COMMENT '教研类型：RESEARCH/TEACHING',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='专利表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biz_patent`
--

LOCK TABLES `biz_patent` WRITE;
/*!40000 ALTER TABLE `biz_patent` DISABLE KEYS */;
/*!40000 ALTER TABLE `biz_patent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `biz_project`
--

DROP TABLE IF EXISTS `biz_project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `biz_project` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL COMMENT '申报人ID',
  `college_id` bigint NOT NULL COMMENT '归属学院ID',
  `name` varchar(200) NOT NULL COMMENT '项目名称',
  `classification` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL COMMENT '教研分类：教学项目或者科研项目',
  `sub_type` varchar(50) DEFAULT NULL COMMENT '子类型: 纵向/横向/校级/教改',
  `funds` decimal(10,2) DEFAULT '0.00' COMMENT '项目经费(万元)',
  `start_date` date DEFAULT NULL COMMENT '开始日期',
  `end_date` date DEFAULT NULL COMMENT '结束日期',
  `app_file_url` varchar(255) DEFAULT NULL COMMENT '申报书附件路径',
  `contract_file_url` varchar(255) DEFAULT NULL COMMENT '合同附件路径',
  `status` int DEFAULT '0' COMMENT '状态: 0-暂存, 1-待秘书审核, 2-待院长审核, 3-已通过, -1-秘书驳回, -2-院长驳回',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  `level` varchar(20) DEFAULT NULL COMMENT '项目等级: NATIONAL(国家级), PROVINCIAL(省级), CITY(市厅级), SCHOOL(校级)',
  `closure_file_url` varchar(255) DEFAULT NULL COMMENT '结项证明/结题报告附件路径',
  `project_source` varchar(255) DEFAULT NULL COMMENT '项目来源',
  `project_number` varchar(100) DEFAULT NULL COMMENT '项目编号',
  `leader` varchar(100) DEFAULT NULL COMMENT '项目负责人',
  `participants` varchar(500) DEFAULT NULL COMMENT '参与人员',
  `discipline` varchar(100) DEFAULT NULL COMMENT '学科分类',
  `remark` text COMMENT '备注说明',
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='项目申报表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biz_project`
--

LOCK TABLES `biz_project` WRITE;
/*!40000 ALTER TABLE `biz_project` DISABLE KEYS */;
/*!40000 ALTER TABLE `biz_project` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `biz_resume`
--

DROP TABLE IF EXISTS `biz_resume`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `biz_resume` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL COMMENT '关联用户ID',
  `title_level` varchar(50) DEFAULT NULL COMMENT '职称: 教授, 副教授, 讲师, 助教',
  `education` varchar(50) DEFAULT NULL COMMENT '学历: 博士, 硕士, 本科',
  `research_direction` varchar(200) DEFAULT NULL COMMENT '研究方向',
  `bio` text COMMENT '个人简介',
  `resume_file_url` varchar(255) DEFAULT NULL COMMENT '简历附件地址',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_id` (`user_id`) COMMENT '一个老师一份简历'
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='教师档案表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biz_resume`
--

LOCK TABLES `biz_resume` WRITE;
/*!40000 ALTER TABLE `biz_resume` DISABLE KEYS */;
INSERT INTO `biz_resume` VALUES (1,6,'助教','硕士','人工智能','',NULL,NULL,NULL,0);
/*!40000 ALTER TABLE `biz_resume` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `biz_software_copyright`
--

DROP TABLE IF EXISTS `biz_software_copyright`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `biz_software_copyright` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `name` varchar(200) NOT NULL COMMENT '软件名称',
  `register_no` varchar(100) DEFAULT NULL COMMENT '登记号',
  `develop_date` date DEFAULT NULL COMMENT '开发完成日期',
  `file_url` varchar(255) DEFAULT NULL,
  `status` int DEFAULT '0' COMMENT '审核状态',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  `grant_date` date DEFAULT NULL COMMENT '授权日期',
  `authors` varchar(500) DEFAULT NULL COMMENT '作者',
  `software_type` varchar(50) DEFAULT NULL COMMENT '软件类型：应用软件/系统软件/工具软件',
  `organization` varchar(255) DEFAULT NULL COMMENT '授权单位',
  `proof_file` varchar(255) DEFAULT NULL COMMENT '证书文件',
  `remark` text COMMENT '备注',
  `classification` varchar(50) NOT NULL COMMENT '教研类型：RESEARCH/TEACHING',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='软著表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biz_software_copyright`
--

LOCK TABLES `biz_software_copyright` WRITE;
/*!40000 ALTER TABLE `biz_software_copyright` DISABLE KEYS */;
INSERT INTO `biz_software_copyright` VALUES (1,6,'基于Mmmmsss的小程序','256845',NULL,NULL,0,NULL,NULL,1,'2025-12-11','第一','应用软件','xx','/files/80e0415c-bd0d-4659-8b9f-95c61ac5b1ce.pdf','11',''),(2,10,'学生考勤管理系统',NULL,NULL,NULL,3,'2025-06-01 10:00:00','2025-12-11 21:13:02',0,NULL,NULL,NULL,NULL,NULL,NULL,''),(3,6,'12131','23123',NULL,NULL,1,'2025-12-11 22:05:35','2025-12-11 22:05:35',0,'2025-12-16','1231','系统软件','31231',NULL,'1231',''),(4,6,'一种操作','11',NULL,NULL,0,'2025-12-12 11:31:08','2025-12-12 11:31:08',0,'2025-12-01','赵新来的','工具软件','xxx',NULL,NULL,'');
/*!40000 ALTER TABLE `biz_software_copyright` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_audit_log`
--

DROP TABLE IF EXISTS `sys_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_audit_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `target_id` bigint NOT NULL COMMENT '关联的具体业务ID (项目ID, 论文ID等)',
  `target_type` varchar(50) NOT NULL COMMENT '业务类型: PROJECT, PAPER, PATENT, SOFT_COPY, COMPETITION',
  `operator_id` bigint NOT NULL COMMENT '操作人ID',
  `operator_name` varchar(50) DEFAULT NULL COMMENT '操作人姓名(冗余方便查询)',
  `action` varchar(50) NOT NULL COMMENT '动作: SUBMIT(提交), PASS_SEC(秘书通过), REJECT_SEC(秘书打回), PASS_DEAN(院长通过), REJECT_DEAN(院长打回)',
  `comment` varchar(500) DEFAULT NULL COMMENT '审核意见/驳回理由',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '操作时间',
  `is_deleted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_target` (`target_id`,`target_type`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='业务审核日志表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_audit_log`
--

LOCK TABLES `sys_audit_log` WRITE;
/*!40000 ALTER TABLE `sys_audit_log` DISABLE KEYS */;
INSERT INTO `sys_audit_log` VALUES (1,1,'PROJECT',4,'张秘书','PASS_SEC','符合申报要求，同意推荐。',NULL,0),(2,1,'PROJECT',5,'李院长','PASS_DEAN','同意立项，经费已核实。',NULL,0),(3,2,'PROJECT',4,'张秘书','PASS_SEC','','2025-12-11 22:06:04',0),(4,2,'PROJECT',5,'李院长','REJECT_DEAN','不采用','2025-12-11 22:06:36',0),(5,10,'PROJECT',12,'李秘书','PASS_SEC','','2025-12-13 19:01:23',0);
/*!40000 ALTER TABLE `sys_audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_college`
--

DROP TABLE IF EXISTS `sys_college`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_college` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `name` varchar(100) NOT NULL COMMENT '学院名称',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `is_deleted` tinyint(1) DEFAULT '0' COMMENT '逻辑删除: 0-正常, 1-删除',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='学院信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_college`
--

LOCK TABLES `sys_college` WRITE;
/*!40000 ALTER TABLE `sys_college` DISABLE KEYS */;
INSERT INTO `sys_college` VALUES (1,'计算机学院','2025-12-08 16:08:39','2025-12-08 16:08:39',0),(2,'机械工程学院','2025-12-08 16:08:39','2025-12-08 16:08:39',0),(3,'管理学院',NULL,NULL,0);
/*!40000 ALTER TABLE `sys_college` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_notice`
--

DROP TABLE IF EXISTS `sys_notice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_notice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL COMMENT '标题',
  `content` longtext COMMENT '公告内容(富文本)',
  `type` varchar(20) DEFAULT 'NOTICE' COMMENT '类型: NOTICE-通知, GUIDE-申报指南',
  `classification` varchar(50) DEFAULT NULL COMMENT '教研分类：教学/科研',
  `publisher_id` bigint NOT NULL COMMENT '发布人ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  `attachment_url` varchar(255) DEFAULT NULL COMMENT '附件路径',
  `attachment_name` varchar(255) DEFAULT NULL COMMENT '附件原文件名',
  `publisher_name` varchar(50) DEFAULT NULL COMMENT '发布人姓名',
  `target_college_id` bigint DEFAULT NULL COMMENT '目标学院ID, NULL表示全校可见',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='通知公告表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_notice`
--

LOCK TABLES `sys_notice` WRITE;
/*!40000 ALTER TABLE `sys_notice` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_notice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user`
--

DROP TABLE IF EXISTS `sys_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_user` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '用户ID',
  `username` varchar(50) NOT NULL COMMENT '工号/账号 (唯一)',
  `password` varchar(100) NOT NULL COMMENT '加密后的密码',
  `real_name` varchar(50) DEFAULT NULL COMMENT '真实姓名',
  `college_id` bigint DEFAULT NULL COMMENT '所属学院ID',
  `role_key` varchar(20) NOT NULL COMMENT '角色标识: ADMIN(管理员), DEAN(院长), SEC_TEACHING(教学秘书), SEC_RESEARCH(科研秘书), TEACHER(教师)',
  `is_first_login` tinyint(1) DEFAULT '1' COMMENT '是否首次登录: 1-是(需重置密码), 0-否',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0' COMMENT '逻辑删除: 0-正常, 1-删除',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_username` (`username`) USING BTREE COMMENT '工号唯一索引'
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='系统用户表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user`
--

LOCK TABLES `sys_user` WRITE;
/*!40000 ALTER TABLE `sys_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-14 14:02:10
